.button {
	display: inline-block;
	font-size: rem-calc(16);
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border-radius: rem-calc(4);
	padding: rem-calc(9) rem-calc(16) rem-calc(5);
	transition: background-color .2s ease-in-out;

	&--white {
		background-color: $white;
		color: $dark-gray;
		box-shadow: 0 rem-calc(4) 0 darken($white, 17%);

		&:hover {
			background-color: darken($white, 17%);
		}
	}

	&--blue {
		background-color: $blue;
		color: $white;
		box-shadow: 0 rem-calc(4) 0 darken($blue, 7%);

		&:hover {
			background-color: darken($blue, 7%);
		}
	}

	&--green {
		background-color: $green;
		color: $white;
		box-shadow: 0 rem-calc(4) 0 darken($green, 4%);

		&:hover {
			background-color: darken($green, 4%);
		}
	}
}