$oval-width: 4400;

#main-hero {
	display: block;
	color: $white;
	max-width: $global-width;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	.main-hero-inner {
		display: block;
		overflow: hidden;
		background-color: $violet;
		padding-bottom: rem-calc(238);
		background-image: url(../../images/Kids-doing-challenges.svg);
		background-repeat: no-repeat;
		background-size: rem-calc(690) auto;
		background-position: right rem-calc(36) top rem-calc(60);

		@media screen and (max-width: 1365px) {
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}

		@media screen and (max-width: 1280px) {
			background-size: rem-calc(590) auto;
			background-position: right rem-calc(20) bottom;
		}

		@media screen and (max-width: 1080px) {
			background-size: rem-calc(490) auto;
		}

		@media screen and (max-width: 768px) {
			background-size: rem-calc(400) auto;
		}

		@media screen and (max-width: 767px) {
			background-size: rem-calc(340) auto;
		}

		@media screen and (max-width: 374px) {
			background-size: rem-calc(300) auto;
		}
	}

	// the rounded bottom
	.oval {
		display: block;
		height: rem-calc(60);
		position: relative;
		overflow: hidden;

		@media screen and (max-width: 1365px) {
			margin-left: calc( (-1366px + 100vw) / 2 );
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: $violet;
			z-index: 999;

			width: rem-calc($oval-width);
			height: rem-calc($oval-width / 2);
			border-radius: rem-calc($oval-width / 2) / rem-calc($oval-width / 4);
			top: rem-calc(-2140);
			left: rem-calc(-(($oval-width - 1366) / 2));

			@media screen and (max-width: 640px) {
				transform: scale(.5);
				top: rem-calc(-1628);
			}
		}
	}

	// text content in the hero
	#hero-content {
		margin-left: rem-calc(135);
		display: block;
		max-width: rem-calc(542);
		padding-top: rem-calc(70);
		line-height: rem-calc(28);
		font-weight: 700;

		.button:nth-of-type(2) {
			margin-left: rem-calc(16);
		}

		p:last-of-type {
			margin-bottom: rem-calc(38);
		}

		@media screen and (max-width: 768px) {
			margin-left: 0;
		}

		@media screen and (max-width: 767px) {
			h1 {
				font-size: rem-calc(30);
				line-height: rem-calc(38);
				margin-top: 0;
			}

			p {
				line-height: rem-calc(24);
			}
		}

		@media screen and (max-width: 378px) {
			.button:nth-of-type(2) {
				margin: rem-calc(20) 0 0 0;
			}
		}
	}
}