#logo {
	display: block;
	width: rem-calc(116);
	height: rem-calc(54);
	padding: rem-calc(10);
	float: left;

	img {
		display: block;
		width: 100%;
	}

	@media screen and (max-width: 499px) {
		width: rem-calc(90);
		padding: rem-calc(5);

		img {
			margin-top: rem-calc(5);
		}
	}
}