#topbar {
	background-color: $violet;
	max-width: $global-width;
	width: 100%;
	height: rem-calc(96);
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	padding: rem-calc(15) rem-calc(20) rem-calc(15) rem-calc(10);

	#menu-container {
		display: inline-block;
		float: left;
		width: calc(100% - 116px);
	}
}